In [1]:
import pandas as pd
from pathlib import Path

In [4]:
sightings_file = Path("Output/usa_sightings_df_.csv")
complete_file = Path("Output/city Data Complete.csv")

In [8]:
sightings_df = pd.read_csv(sightings_file)
complete_df = pd.read_csv(complete_file)

In [6]:
sightings_df

,SIGHTING_ID,OCCURRED_DATE,CITY,STATE,COUNTRY,SHAPE,SUMMARY,YEAR,CITYSTATE
0,1,2024-06-20,Cranston,RI,USA,Flash,My wife and I as well as our 2 children witnes...,2024.0,"Cranston, RI"
1,2,2024-06-20,Key West,FL,USA,Light,Saw unexplainable lights slightly west of Nort...,2024.0,"Key West, FL"
2,3,2024-06-20,Oklahoma City,OK,USA,Light,Erratically moving light at high altitude,2024.0,"Oklahoma City, OK"
3,4,2024-06-19,Valley Stream,NY,USA,Sphere,Sphere in the sky that glowed like an LED ligh...,2024.0,"Valley Stream, NY"
4,5,2024-06-19,Jacksonville,FL,USA,Triangle,Black triangle very low no noise,2024.0,"Jacksonville, FL"
...,...,...,...,...,...,...,...,...,...
50222,50223,2014-02-18,Chandler,IN,USA,Other,Lighted object larger than a commercial a/c ho...,2014.0,"Chandler, IN"
50223,50224,2014-02-18,Wentzville,MO,USA,Triangle,"Dark gray boomerang craft, no lights, gliding ...",2014.0,"Wentzville, MO"
50224,50225,2014-02-18,Mardela Springs,MD,USA,Light,One star-like light turned sharp and sped up t...,2014.0,"Mardela Springs, MD"
50225,50226,2014-02-18,Lame Deer,MT,USA,Unknown,Orange lights slowly from south to north.,2014.0,"Lame Deer, MT"
50226,50227,2014-02-18,Warr acres,OK,USA,Cone,White UFO in nw Oklahoma City.,2014.0,"Warr acres, OK"

In [9]:
complete_df1 = complete_df.drop(['Unnamed: 0'], axis = 1)

In [10]:
complete_df1  =complete_df1.rename(columns={'City': 'CITY'})
complete_df1

               CITY      Lat       Lng
0          Cranston  41.7798  -71.4373
1          Key West  24.5557  -81.7826
2     Oklahoma City  35.4676  -97.5164
3     Valley Stream  40.6643  -73.7085
4      Jacksonville  30.3322  -81.6556
...             ...      ...       ...
9108    Scottsville  36.7534  -86.1905
9109         Tehama  40.1332 -122.3011
9110          Wirtz  37.0765  -79.8895
9111      Lame Deer  45.6231 -106.6667
9112     Warr Acres  35.5226  -97.6189

[9113 rows x 3 columns]

In [11]:
#performing right join.
city_complete_df = pd.merge(sightings_df,  
                      complete_df1,  
                      on ='CITY', 
                      how ='right')

In [12]:
city_complete_df

,SIGHTING_ID,OCCURRED_DATE,CITY,STATE,COUNTRY,SHAPE,SUMMARY,YEAR,CITYSTATE,Lat,Lng
0,1.0,2024-06-20,Cranston,RI,USA,Flash,My wife and I as well as our 2 children witnes...,2024.0,"Cranston, RI",41.7798,-71.4373
1,10490.0,2021-06-17,Cranston,RI,USA,Circle,At 11:50 am on june 17 2021 i seen a jet aircr...,2021.0,"Cranston, RI",41.7798,-71.4373
2,18342.0,2019-12-19,Cranston,RI,USA,Fireball,I was driving to work and i saw a ball of fire...,2019.0,"Cranston, RI",41.7798,-71.4373
3,21138.0,2019-07-15,Cranston,RI,USA,Other,"Object appears, moves, and disappears.",2019.0,"Cranston, RI",41.7798,-71.4373
4,21951.0,2019-05-25,Cranston,RI,USA,Circle,Circular looking UFO comes out of a chemtrail ...,2019.0,"Cranston, RI",41.7798,-71.4373
...,...,...,...,...,...,...,...,...,...,...,...
63250,50157.0,2014-02-21,Scottsville,VA,USA,Diamond,It's still going on S in the sky stationary fl...,2014.0,"Scottsville, VA",36.7534,-86.1905
63251,50194.0,2014-02-20,Tehama,CA,USA,Chevron,Saw bright white stringy chevron shape heading...,2014.0,"Tehama, CA",40.1332,-122.3011
63252,50208.0,2014-02-19,Wirtz,VA,USA,Formation,Curved line of 6 or 7 red lights in Western sk...,2014.0,"Wirtz, VA",37.0765,-79.8895
63253,50226.0,2014-02-18,Lame Deer,MT,USA,Unknown,Orange lights slowly from south to north.,2014.0,"Lame Deer, MT",45.6231,-106.6667
63254,NaN,NaN,Warr Acres,NaN,NaN,NaN,NaN,NaN,NaN,35.5226,-97.6189

In [13]:
city_complete_df = city_complete_df.dropna()

In [14]:
city_complete_df

,SIGHTING_ID,OCCURRED_DATE,CITY,STATE,COUNTRY,SHAPE,SUMMARY,YEAR,CITYSTATE,Lat,Lng
0,1.0,2024-06-20,Cranston,RI,USA,Flash,My wife and I as well as our 2 children witnes...,2024.0,"Cranston, RI",41.7798,-71.4373
1,10490.0,2021-06-17,Cranston,RI,USA,Circle,At 11:50 am on june 17 2021 i seen a jet aircr...,2021.0,"Cranston, RI",41.7798,-71.4373
2,18342.0,2019-12-19,Cranston,RI,USA,Fireball,I was driving to work and i saw a ball of fire...,2019.0,"Cranston, RI",41.7798,-71.4373
3,21138.0,2019-07-15,Cranston,RI,USA,Other,"Object appears, moves, and disappears.",2019.0,"Cranston, RI",41.7798,-71.4373
4,21951.0,2019-05-25,Cranston,RI,USA,Circle,Circular looking UFO comes out of a chemtrail ...,2019.0,"Cranston, RI",41.7798,-71.4373
...,...,...,...,...,...,...,...,...,...,...,...
63249,50155.0,2014-02-21,Grand Rivers,KY,USA,Orb,Six orbs sighted in broad daylight near Grand ...,2014.0,"Grand Rivers, KY",37.0031,-88.2345
63250,50157.0,2014-02-21,Scottsville,VA,USA,Diamond,It's still going on S in the sky stationary fl...,2014.0,"Scottsville, VA",36.7534,-86.1905
63251,50194.0,2014-02-20,Tehama,CA,USA,Chevron,Saw bright white stringy chevron shape heading...,2014.0,"Tehama, CA",40.1332,-122.3011
63252,50208.0,2014-02-19,Wirtz,VA,USA,Formation,Curved line of 6 or 7 red lights in Western sk...,2014.0,"Wirtz, VA",37.0765,-79.8895
63253,50226.0,2014-02-18,Lame Deer,MT,USA,Unknown,Orange lights slowly from south to north.,2014.0,"Lame Deer, MT",45.6231,-106.6667

In [15]:
city_complete_df.to_csv('City_latlng_merge.csv')