In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import json

In [2]:
# Load data
df = pd.read_csv('../Output/City_latlng_merge.csv')  # Ensure your CSV has 'latitude' and 'longitude' columns
df

,Unnamed: 0,SIGHTING_ID,OCCURRED_DATE,CITY,STATE,COUNTRY,SHAPE,SUMMARY,YEAR,CITYSTATE,Lat,Lng
0,0,1,2024-06-20,Cranston,RI,USA,Flash,My wife and I as well as our 2 children witnes...,2024,"Cranston, RI",41.78,-71.44
1,14,2,2024-06-20,Key West,FL,USA,Light,Saw unexplainable lights slightly west of Nort...,2024,"Key West, FL",24.56,-81.78
2,47463,3,2024-06-20,Oklahoma City,OK,USA,Light,Erratically moving light at high altitude,2024,"Oklahoma City, OK",35.47,-97.52
3,94,4,2024-06-19,Valley Stream,NY,USA,Sphere,Sphere in the sky that glowed like an LED ligh...,2024,"Valley Stream, NY",40.66,-73.71
4,101,5,2024-06-19,Jacksonville,FL,USA,Triangle,Black triangle very low no noise,2024,"Jacksonville, FL",30.33,-81.66
...,...,...,...,...,...,...,...,...,...,...,...,...
44924,34650,50221,2014-02-18,Tucson,AZ,USA,Orb,"REPORT FROM ATP PILOT: 3 orange orbs size, di...",2014,"Tucson, AZ",32.22,-110.93
44925,9338,50219,2014-02-18,Houston,TX,USA,Disk,Silver disc on the right of me and then golden...,2014,"Houston, TX",29.76,-95.36
44926,24507,50222,2014-02-18,Fallbrook,CA,USA,Orb,Orange orb with some intelligence.,2014,"Fallbrook, CA",33.38,-117.25
44927,22963,50223,2014-02-18,Chandler,IN,USA,Other,Lighted object larger than a commercial a/c ho...,2014,"Chandler, IN",33.31,-111.84
44928,63253,50226,2014-02-18,Lame Deer,MT,USA,Unknown,Orange lights slowly from south to north.,2014,"Lame Deer, MT",45.62,-106.67

In [3]:
# Create GeoDataFrame
gdf = gpd.GeoDataFrame(
    df,
    geometry=[Point(xy) for xy in zip(df['Lng'], df['Lat'])],
    crs='EPSG:4326'  # EPSG:4326 is the coordinate reference system for WGS84
)
gdf

,Unnamed: 0,SIGHTING_ID,OCCURRED_DATE,CITY,STATE,COUNTRY,SHAPE,SUMMARY,YEAR,CITYSTATE,Lat,Lng,geometry
0,0,1,2024-06-20,Cranston,RI,USA,Flash,My wife and I as well as our 2 children witnes...,2024,"Cranston, RI",41.78,-71.44,POINT (-71.44000 41.78000)
1,14,2,2024-06-20,Key West,FL,USA,Light,Saw unexplainable lights slightly west of Nort...,2024,"Key West, FL",24.56,-81.78,POINT (-81.78000 24.56000)
2,47463,3,2024-06-20,Oklahoma City,OK,USA,Light,Erratically moving light at high altitude,2024,"Oklahoma City, OK",35.47,-97.52,POINT (-97.52000 35.47000)
3,94,4,2024-06-19,Valley Stream,NY,USA,Sphere,Sphere in the sky that glowed like an LED ligh...,2024,"Valley Stream, NY",40.66,-73.71,POINT (-73.71000 40.66000)
4,101,5,2024-06-19,Jacksonville,FL,USA,Triangle,Black triangle very low no noise,2024,"Jacksonville, FL",30.33,-81.66,POINT (-81.66000 30.33000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44924,34650,50221,2014-02-18,Tucson,AZ,USA,Orb,"REPORT FROM ATP PILOT: 3 orange orbs size, di...",2014,"Tucson, AZ",32.22,-110.93,POINT (-110.93000 32.22000)
44925,9338,50219,2014-02-18,Houston,TX,USA,Disk,Silver disc on the right of me and then golden...,2014,"Houston, TX",29.76,-95.36,POINT (-95.36000 29.76000)
44926,24507,50222,2014-02-18,Fallbrook,CA,USA,Orb,Orange orb with some intelligence.,2014,"Fallbrook, CA",33.38,-117.25,POINT (-117.25000 33.38000)
44927,22963,50223,2014-02-18,Chandler,IN,USA,Other,Lighted object larger than a commercial a/c ho...,2014,"Chandler, IN",33.31,-111.84,POINT (-111.84000 33.31000)
44928,63253,50226,2014-02-18,Lame Deer,MT,USA,Unknown,Orange lights slowly from south to north.,2014,"Lame Deer, MT",45.62,-106.67,POINT (-106.67000 45.62000)

In [4]:
# Output to GeoJSON
geojson = gdf.to_json()

In [5]:
# Pretty-print the GeoJSON
geojson_pretty = json.dumps(json.loads(geojson), indent=4)

In [7]:
# Save to file
with open('../Output/sightings_pretty.geojson', 'w') as f:
    f.write(geojson_pretty)

print("GeoJSON data has been pretty-printed and saved to '../Output/sightings_pretty.geojson'")

GeoJSON data has been pretty-printed and saved to '../Output/sightings_pretty.geojson'